#title{
    background-color: #ff4c68;
    color: #fff;
}

.body{
    font-family: "montserrat";
}

.container-fluid{
    padding:3% 15%;
    
}

h1{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-size: 3rem;
    
}

h3{
    font-family: "Montserrat-Bold";
    font-weight: bolder;
    
}

p{
    text-align: center;
    color: #8f8f8f;
    
    
}


/* Navigation bar */
.navbar{
    padding: 0 0 4.5rem;

}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: "montserrat-Light";
    font-size: 1.2rem;
}

/* Download buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Iphone image */
.iphone-image{
    width: 60%;
    transform: rotate(25deg);
}

/* features */
#features{
    padding: 7% 15%;
}

.feature{
    text-align: center;
    padding: 5%;
}

.icons{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icons:hover{
    color: #ff4c68;
    
}

/* Testimonials section */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
    
}

.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 20px;

}

#press{
    background-color: #ef8172;
    padding-bottom: 5%;
    text-align: center;
}

.press-image{
    width: 15%;
    margin: 20px 20px 50px ;
}

.carousel-item{
    padding: 7% 15%;
}

/* pricing section */
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-col{
    padding: 2% 3%;
}

/* call to action section */
#cta{
    background-color: #ef8172;
    text-align: center;
    padding: 5% 7%;
   padding-right: 0;
}

.cta-btn{
    padding-top: 5px;

}

.cta-h3{
    padding-bottom: 20px;
}

/* footer section */
#footer{
    padding: 7%;
    background-color: #ef8172;
}